@{
    ViewBag.Title = "About";
}

<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <img src="~/Content/Images/PartyPlanner.jpg" class="img-responsive center-block" />
        </div>
    </div>
</div>

<h2>About our Site</h2>
<p class="text-justify">
    MyPartyPlanner.ie was created in order to provide people access with a one stop shop for children's entertainers and general children’s party services. The site enables
    customers(parents) looking for children's entertainers &Aacute; party services to perform quick and efficient searches for service providers in their area. Alternatively, you can register as an
    entertainer with us and open your services to a whole new list of potential customers. We aim to take the stress out of organising parties so you can sit back enjoy your day!!
</p>

<hr />

<div class="row">
    <img src="~/Content/Images/JumpRope.gif" class="img-responsive center-block" />

</div>

<div class="row">
    <div class="col-md-6 text-justify">
        <h2>Customers</h2>
        <hr />
        <p>
            Whether you are looking for an entertainer (perhaps a Magician, a Clown or a DJ), a specific party item (Bouncing castle, Decorations ) or maybe even some catering services
            (hot food, snacks etc.), our extensive portfolio of entertainers and entertainment services will meet your needs. We have a multitude of individual and company services
            registered to our site and it's all at your fingertips. Why not search from our main page and you can browse our extensive range of services. You can refine your searches to
            specific party requirements and/or to your preferred location. What are you waiting for?! Let's get the party started!!
        </p>
        <hr />
    </div>


    <div class="col-md-6 text-justify">
        <h2>Entertainers</h2>
        <hr />
        <p>
            We have the largest database of registered children's entertainers in Ireland and it's constantly expanding. If you're an entertainer and are looking to broaden your horizons and gain
            access to extra customers than sign up today. For the nominal cost of €9.99 per month you can add a profile to our site allowing our vast range of cutomers to contact you directly to
            arrange a booking. Simply, sign up via our 'Entertainer Portal', register your profile, list your skills/services and you are ready to go. Don't waste time with word of mouth and door
            to door leaflet drops. become a part of Ireland's fastest growing children's entertainment site today!!
        </p>
        <hr />
    </div>



</div>